---

version: '3'
services:
  web:
    build: ./service/
    env_file: .env
    depends_on:
      - redis
    ports:
      - "1022:22"
    command: bash start.sh
    volumes:
      - ./service/:/www

  redis:
    image: redis:3.2.11

  nginx:
    build: ./nginx
    env_file: .env
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - ./nginx/sites-enabled:/etc/nginx/sites-enabled
      - ./service/static/:/www/static
      - ./service/media/:/www/media
